[user]
	name = zhiyuan.fu
	email = zhiyuan.fu@wshopee.com
[core]
	excludesfile = /Users/fjywan/.gitignore_global
	editor = /usr/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
    s   = status
    ss  = status -s -b
    df  = diff
    dfn = diff --name-only
    c   = commit -m
    ca  = commit -am
    aa  = add .
    b   = branch
    l   = log --format='%C(auto)%h%Creset%C(auto)%d%Creset %s %C(dim bold cyan)<%an>%Creset %C(dim)%cr%Creset'
    ls  = log --format='%C(auto)%h%Creset%C(auto)%d%Creset %s %C(dim bold cyan)<%an>%Creset %C(dim)%cr%Creset' --graph
    ll  = log --graph --decorate
    w   = show
	co = checkout
	sh = stash
